body{
    display: block;
    overflow: hidden;
}

nav{
    background-color: black;
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

nav ul li a:hover {
    color: rgb(243, 247, 247);
}

.nav-link{
    color: rgb(255, 255, 255)!important;
}